<div class="col-md-8 col-md-offset-2">
    <form ngNativeValidate (ngSubmit) = "onSubmit(f)" #f = "ngForm">
        <div class="form-group">
            <label for="name"> Ваше имя: </label>
            <input type="text" id="name" class="form-control" ngModel name="username" required>
            <hr>
            <label for="content"> Комментарий: </label>
            <textarea id="content" cols="30" rows="5" class="form-control" ngModel name ="content" required></textarea>
        </div>
        <button class="btn btn-primary" type="submit"> Добавить комментарий </button>
        <hr>
    </form>

</div>